@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');





.paizao{
    background-color:#EFFAFF;
    width: 1440px;
    height: 430px;
    display: flex;
    flex-direction: row;
    
}

.pai-texto{

    display: flex;
    flex-direction: column;
    margin-left: 35px;
}
.titulo{
    color: #FF8A00;
   font-family: "Major Mono Display", monospace;
   font-weight: 400;
   font-size: 30px;
      
}
.paragrafo{

    color:#4B4B4B;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 20px;

}

.button{

   display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF8A00;
    font-family: "Major Mono Display", monospace;
    color: #FFFFFF;
    
    width: 120px;
    height: 30px;
    font-size: 15px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.imagens-body{

    display: flex;
    flex-direction: row;
    font-weight: 600px;
    justify-content: space-between;
}

.imagem-protetor{
width: 225px;
height: 226px;
align-items: end;
}

.image-creme{
width: 246px;
height: 246px;

}

.image-mulher{

}